body{
    
    padding: 10px;
    margin: 30px;
    }   
header ul{
    margin-top: 40px; 
}
ul  {
    list-style-type: none;
    background-color:gray;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 30px;
    }
    li{
        float:left;
    }
    li a {
        padding:30px solid ;
        margin: 30px;
        text-align: center;
        text-decoration: none;
        color:rgb(229, 255, 0);
        font-size:20px;
        
    }
section{
    text-align: center;
}

.images{
    margin: 20px;
    display: flex;
    justify-content: center;
    gap:30px;
    padding: 20px;

}   
.images img{
    width: 300px;
    height: 300px;
}

.images2{
    margin: 20px;
    display: flex;
    justify-content: center;
    gap:30px;
    padding: 20px;

    
}   
.images2 img{
    width: 300px;
    height: 300px;
}